
# Node.js dependencies
node_modules/

# Production build
dist/
build/

# Env files
.env
.env.*.local

# System files
.DS_Store
Thumbs.db

# Logs
*.log

# Compressed files
*.zip
*.tar.gz

# Vercel
.vercel/

# IDE/editor files
.vscode/
*.swp

# Cache
.npm/
.pnpm-store/
.cache/

# Other
frontend/node_modules/
frontend/dist/
